.app {
  width: 90%;
  max-width: 800px;
  margin: auto;
  background-color: #ecf0f1;
  padding: 1rem;
  min-height: 100vh;

  .logo {
    text-align: center;

    .logo-img {
      width: 50%;
    }
  }

  &--warm {
    background-color:#ffffe0;
}

}